{{"<!-- Fixed Navigation -->" | safeHTML}}
<nav id="navigation" class="navbar navbar-expand-lg navigation sticky-top">
	<div class="container">
		{{"<!-- logo -->" | safeHTML}}
		<a class="navbar-brand logo" href="{{ .Site.BaseURL | relLangURL }}#body">
			{{ if .Site.Params.logo }}
			<img class="img-fluid" src="{{ .Site.Params.logo | absURL }}" alt="{{ .Site.Title }}">
			{{ else }}
			{{ .Site.Params.title_lite }}
			{{ end }}
		</a>
		{{"<!-- /logo -->" | safeHTML}}

		{{"<!-- responsive nav button -->" | safeHTML}}
		<button class="navbar-toggler navbar-dark" type="button" data-toggle="collapse"
			data-target="#navbarSupportedContent" aria-controls="navigation" aria-expanded="false"
			aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		{{"<!-- /responsive nav button -->" | safeHTML}}

		{{"<!-- main nav -->" | safeHTML}}
		{{ if .IsHome }}
		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav ml-auto navigation-menu">
				{{ range .Site.Menus.main }}
				<li class="nav-item"><a class="nav-link" href="#{{ .URL }}">{{ .Name }}</a></li>
				{{ end }}
				{{ if eq .Page.Lang "es"}}
					<li class="nav-item"><a class="nav-link" href="https://www.erreserbatu.net/reservaonline/login.aspx?LANG=2">Reserva de mesa</a></li>
				{{ else }}
					<li class="nav-item"><a class="nav-link" href="https://www.erreserbatu.net/reservaonline/login.aspx?LANG=1">Mahaia erreserbatu</a></li>
				{{ end }}
			</ul>

			<!-- Language List -->
		    {{- if .Site.IsMultiLingual }}
		    <select id="select-language" onchange="location = this.value;">
		      {{ $siteLanguages := .Site.Languages}}
		      {{ $pageLang := .Page.Lang}}
		      {{ range .Page.AllTranslations }}
		      {{ $translation := .}}
		      {{ range $siteLanguages }}
		      {{ if eq $translation.Lang .Lang }}
		      {{ $selected := false }}
		      {{ if eq $pageLang .Lang}}
		      <option id="{{ $translation.Language }}" value="{{ $translation.Permalink }}" selected>{{ .LanguageName }}
		      </option>
		      {{ else }}
		      <option id="{{ $translation.Language }}" value="{{ $translation.Permalink }}">{{ .LanguageName }}</option>
		      {{ end }}
		      {{ end }}
		      {{ end }}
		      {{ end }}
		    </select>
		    {{ end }}
		</div>
		{{ else }}
		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav ml-auto navigation-menu">
				{{ range .Site.Menus.main }}
				<li class="nav-item"><a class="nav-link" href="{{ $.Site.BaseURL | relLangURL }}#{{ .URL }}">{{ .Name }}</a></li>
				{{ end }}
			</ul>

			{{- if .Site.IsMultiLingual }}
		    <select id="select-language" onchange="location = this.value;">
		      {{ $siteLanguages := .Site.Languages}}
		      {{ $pageLang := .Page.Lang}}
		      {{ range .Page.AllTranslations }}
		      {{ $translation := .}}
		      {{ range $siteLanguages }}
		      {{ if eq $translation.Lang .Lang }}
		      {{ $selected := false }}
		      {{ if eq $pageLang .Lang}}
		      <option id="{{ $translation.Language }}" value="{{ $translation.Permalink }}" selected>{{ .LanguageName }}
		      </option>
		      {{ else }}
		      <option id="{{ $translation.Language }}" value="{{ $translation.Permalink }}">{{ .LanguageName }}</option>
		      {{ end }}
		      {{ end }}
		      {{ end }}
		      {{ end }}
		    </select>
		    {{ end }}
		</div>
		{{ end }}
		{{"<!-- /main nav -->" | safeHTML}}

		
    
	</div>
</nav>
{{"<!-- End Fixed Navigation -->" | safeHTML}}
